<section id="about" class="flex flex-col items-center gap-y-10 p-3 md:p-0">
    <h2 class="text-4xl font-medium text-black dark:text-white">Hakkımda</h2>
    <div class="flex flex-col items-center gap-y-10">
        <h3 class="text-black dark:text-white font-medium text-xl">
            Tasarımcı - Web Geliştirici
        </h3>
        <p class="text-zinc-800 dark:text-zinc-200 font-medium max-w-xl text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolores qui blanditiis saepe suscipit,
            eaque placeat accusantium eius excepturi fuga.
        </p>
        <div class="font-medium grid grid-cols-12 gap-5">
            <div class="col-span-6">
                <span class="text-black dark:text-white">
                    Ad:
                </span>
                <span class="text-zinc-700 dark:text-zinc-400">
                    Dilan Ilgın
                </span>
            </div>
            <div class="col-span-6 text-black dark:text-white">
                <span class="text-black dark:text-white">
                    Soyad:
                </span>
                <span class="text-zinc-700 dark:text-zinc-400">
                    Atılgan
                </span>
            </div>
            <div class="col-span-6 text-black dark:text-white">
                <span class="text-black dark:text-white">
                    E-Posta:
                </span>
                <a href=""
                    class="text-zinc-700 dark:text-zinc-400 underline hover:text-zinc-900 dark:hover:text-zinc-200">
                    test{{'@'}}gmail.com
                </a>
            </div>
            <div class="col-span-6 text-black dark:text-white">
                <span class="text-black dark:text-white">
                    Github:
                </span>
                <a href=""
                    class="text-zinc-700 dark:text-zinc-400 underline hover:text-zinc-900 dark:hover:text-zinc-200">
                    ılgın
                </a>
            </div>
            <div class="col-span-6 text-black dark:text-white">
                <span class="text-black dark:text-white">
                    Linkedin:
                </span>
                <a href=""
                    class="text-zinc-700 dark:text-zinc-400 underline hover:text-zinc-900 dark:hover:text-zinc-200">
                    Dilan Ilgın Atılgan
                </a>
            </div>
            <div class="col-span-6 text-black dark:text-white">
                <span class="text-black dark:text-white">
                    Instagram:
                </span>
                <a href=""
                    class="text-zinc-700 dark:text-zinc-400 underline hover:text-zinc-900 dark:hover:text-zinc-200">
                    Ilgın
                </a>
            </div>
        </div>
    </div>
</section>